{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="mt-4">Wikipedia Search</h2>
    <form method="get" class="mb-4">
        <div class="form-group">
            <label for="query">Search Wikipedia</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="Enter search term" value="{{ request.GET.query }}">
        </div>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
    {% if request.GET.query %}
    <div class="alert alert-info">
        <h5>Wikipedia Page</h5>
        <p>Click the link below to view the Wikipedia page:</p>
        <a href="https://en.wikipedia.org/wiki/{{ request.GET.query|urlencode }}" target="_blank" class="btn btn-dark">
            <i class="fab fa-wikipedia-w"></i> Open Wikipedia Page
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}